[2016-05-22 07:00] duaraghav8 opened #2 "Possible problem while running the project locally"
I cloned the project and fired up the index.html. The environment loads, but the **Data doesn't because the browser's Cross Origin Security Policy blocks it from loading**.

So I wrote a simple Node Script which can be used as the entry point of the server instead.
So instead of launching index.html, people can launch the Script and get **http://localhost:8080**, then everything works flawlessly.

[2016-05-22 07:14] parkjs814 commented on #2
Oops I had never tested locally on Chrome.
Thank you for reporting this significant issue.
I guess it looks weird if I add Node.js files into this repo.
Instead, I found a proper repo behaving in the same way as you suggest.
I will notice this in README.md.

[2016-05-22 07:19] duaraghav8 commented on #2
You're welcome:)
Ah! I agree, the http-server utility is a more sensible solution.

[2016-05-22 07:36] parkjs814 commented on #2
Check out the new README.md 👍

[2016-05-22 07:36] #2 closed

[2016-05-22 09:28] MaherJendoubi opened #4 "Gitter account suggestion"
Hello,
I find this project very interesting to all developers. Is it possible to create a gitter account to discuss ideas about this project.

Thanks a lot!
Maher

[2016-05-22 17:35] item4 opened #10 "Unparsed HTML elements on 'Scratch Paper' tab name"
<img width="605" alt="2016-05-23 2 33 05" src="https://cloud.githubusercontent.com/assets/559952/15455419/b737073c-208e-11e6-9d9c-6a6d74dee0f8.png">

OS: Mac OS X
Browser: Firefox 46.0.1

[2016-05-22 19:09] parkjs814 commented on #10
I guess you forked or cloned before I fixed this issue.
Check it out again 😁

[2016-05-22 19:09] #10 closed

[2016-05-22 19:20] parkjs814 commented on #4
That sounds like a great idea to encourage contributions.
I just created it. https://gitter.im/parkjs814/AlgorithmVisualizer
Thanks!

[2016-05-22 19:20] #4 closed

[2016-05-22 19:55] yigitozkavci opened #13 "TypeError: indexes.forEach is not a function"
First time I try to run "Binary Search", it gives this error:

![image](https://cloud.githubusercontent.com/assets/7188811/15456135/1e45b7ee-2070-11e6-8cee-5ac01ea185e6.png)

[2016-05-22 20:27] parkjs814 commented on #13
I'm not sure but I was fixing something on Binary Search at that time.
Can you check if it happens again?

[2016-05-22 20:34] yigitozkavci commented on #13
It seems fine now, closing then, thanks :)

[2016-05-22 20:34] #13 closed

[2016-05-22 20:52] parkjs814 commented on #13
You're welcome 👍

[2016-05-23 05:37] duaraghav8 opened #19 "Multiple tracers for a single view?"
Is it possible to use more than 1 tracer for a single visualization? I'd like to use one for Directed Graph and another for 1D Array to display the progress. I tried a lot of things but it doesn't seem to be working.

Does the current implementation allow it?

[2016-05-23 06:14] parkjs814 commented on #19
I have noticed that some algorithms inevitably need more than one tracer. I am currently picturing it how I should arrange several tracers. Feel free to give me any opinions about it. Btw, thanks for your contributions :)

[2016-05-23 06:46] duaraghav8 commented on #19
Sure. I'm currently trying to understand the code base. I'd like to contribute to the re-implementation of tracers. Do share your ideas if you feel I can be of some help in it.

[2016-05-23 07:03] parkjs814 commented on #19
Let's just remain it open until finish developing multiple tracers.
Contribute to the core modules will be really appreciated. 👍
Feel free to ask if you don't get any of code pieces.

Additionally, I revised the core structure little bit so that you'd better to check it out before you work on modules.

[2016-05-23 07:40] mdtareque opened #20 "Complete code being displayed on single line"
The entire code (in DP category at least) is being cramblef and displayed on a single line, making it hard to read. FYI, I am using mobile chrome browser. Rest all animation working good. Please take a look at this issue.

[2016-05-23 07:44] parkjs814 commented on #20
Can you upload a screenshot of it using http://imgur.com ?

[2016-05-23 14:29] mdtareque commented on #20
http://i.imgur.com/3Kc5inF.jpg
The code on right side in all in one line. Is this intended?

[2016-05-23 15:44] gammison opened #22 "Image Manipulation Module"
Would a new module for image manipulations be possible useful to add to the tracer? It would allow for better visuals for algorithms like the discrete cosine transform.

[2016-05-23 15:45] gammison opened #23 "Auto Complete for the java script in the source windows."

[2016-05-23 15:46] gianpaj opened #24 "Add rich preview image when sharing the website on services like Slack, Whatsapp, etc."
Info about Open Graph:
- https://get.slack.help/hc/en-us/articles/204399343-Sharing-links-in-Slack
- https://developers.facebook.com/docs/sharing/best-practices#images

Test with this URL:
http://richpreview.com/?url=http://jasonpark.me/AlgorithmVisualizer/

I'm happy to do a pull request once you tell me what image should be used. Apparently some services  even support gif, which might be useful

[2016-05-23 16:15] parkjs814 commented on #20
Ugh, that is weird. Is it JellyBean?

[2016-05-23 16:20] gianpaj opened #25 "Feature request: Save custom algorithms / scratch papers with unique urls for ease of sharing"

[2016-05-23 16:25] parkjs814 commented on #22
Do you mean something like http://www.chartjs.org? That will be sick 😀. Any kind of contributions is welcomed!

[2016-05-23 16:26] parkjs814 commented on #23
That will be helpful. I will add it in a few days.

[2016-05-23 16:32] parkjs814 commented on #24
Good idea, I think we can just use a screenshot of the webpage (without the frame of the browser) as the image. Your pull request will be appreciated 👍

[2016-05-23 16:36] parkjs814 commented on #25
I have thought about it, and I'm still planning how I should do this within a static page.

[2016-05-23 16:38] parkjs814 commented on #25
I may be able to use apis of Pastbin.com to save and load scratch papers. Thanks for reminding me!

[2016-05-23 16:52] duaraghav8 opened #26 "Dynamic loading of nodes in the visualization"
An appropriate visualization for recursive algorithms would be to show the Recursion Tree **as it develops**. A good feature provided by tracer would be to allow the adding of more Nodes in the graph, which are then also added on to the screen **during Run time.**

Another feature could be to display custom text in the Nodes instead of the default numbers representing them.
Something like:

`
G.pu

[2016-05-23 18:33] wnesensohn opened #28 "Examples suggest wrong time complexity"
Selection Sort, for example, makes the algorithm look extremely (impossibly) good at first glance - O(n) - because it's not showing the majority of the steps.

Instead of

[code]

it has to be more like

[code]

Bubble Sort has the same problem, as do Quicksort and Mergesort.

Normally I wouldn't mind, as showing time complexity is probably not the scope of these examples or your visualization, bu

[2016-05-23 20:26] parkjs814 commented on #28
@wnesensohn That makes sense!

@TornjV Thanks a lot for concerning this issue, but the pull request is reverted. (#32)
`_notify` method should only be used for the changed values, so that I think we should wrap up `if` statement with `_select`/`_deselect` and call `_notify` only in the `if` statement.
I hope you understand me.

[2016-05-23 20:32] #24 closed

[2016-05-23 21:12] parkjs814 commented on #26
👍 That will be useful. I will see after implementing multiple tracer stuff. (It seems take some time.)

[2016-05-24 12:06] duaraghav8 opened #39 "Variables in script.js might get over-written"
script.js uses **eval ()** to execute code from data.js & code.js.
**If a user intentionally or un-intentionally creates a variable which is being used by our script.js, that variable gets overwritten.**

Eg-
In the Data Editor,
create variable like:

[code]

Now try running the visualization. The error toast appears because our script **cannot find codeEditor.getValue** property. (Notice line 11

[2016-05-24 14:24] parkjs814 commented on #39
Mhm, that can be a problem. Great point. In which way are you fixing this issue?

[2016-05-24 16:11] duaraghav8 commented on #39
I'm a bit confused at this point. The simplest way is to use Watch points, but they are not suitable for production.
I'm also looking into [this](http://www.2ality.com/2014/01/eval.html)

The problem is that variables like codeEditor, dataEditor, etc. (who are susceptible) are global. So no matter where you execute eval() from, it WILL overwrite the variables of the same name.

[2016-05-24 16:37] parkjs814 commented on #39
How do you think about uglifying the code internally before `eval()` it?
Then all the names of variables will have one or two letters, so that the global variables will not be overwritten.

[2016-05-24 16:44] duaraghav8 commented on #39
You're right! we can do that.
But we can't uglify the variables **tracer** and **G** (in case of Graph algorithms) because these are then being used by script.js. We rely on eval () to create these 2 variables in the global scope so we can use them.

[2016-05-24 16:47] parkjs814 commented on #39
No worries about it :)
I have removed those dependencies while I implement multiple tracers.
Check out the `dev` branch. (I'm still working on it.)

[2016-05-25 04:35] nem035 opened #48 "Suggested project rewrite in ES6"
I suggest that, while the codebase is relatively small, we rewrite the code in ES6, separating the appropriate logic into individual files (modules) - making it cleaner and easier to debug and maintain. Plus we can take advantage of many awesome new ES6 features such as [arrow functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions), [destructuring](h

[2016-05-25 05:42] duaraghav8 opened #50 "no tracer fixes in max_subarray"
@parkjs814 I think you forgot to declare LogTracer and replace tracer._print() statements in max_subarray, probably because you didn't see it. Its under the Dynamic Programming category but you didn't see it because there was not enough space to include "max_subarray" tab. (If you stretch Data editor to the left, you'll see it).

I'm fixing max_subarray right now, just wanted to notify you.

[2016-05-25 05:44] #50 closed

[2016-05-25 05:44] duaraghav8 commented on #50
Please ignore, its already been fixed I just realized

[2016-05-25 10:40] duaraghav8 opened #55 "Need Scrolling feature for Files Bar"
Under Dynamic Programming under Uncategorized, the **max_subarray** tab is not visible. If we stretch the Editor left a little bit, it becomes visible.
This becomes a problem when a category has more than a few programs. Their tabs get hidden.

We therefore need a way to notify the user that there may be more tabs to the right, which are hidden.
A suitable way would be to give a scrolling feature

[2016-05-25 15:14] duaraghav8 commented on #55
@parkjs814 here's a screenshot of what I've implemented. (Notice the Next & Previous Button)
If you think it looks fine, I'll merge.

![shot](https://cloud.githubusercontent.com/assets/12758282/15545253/4d36d2a4-22b9-11e6-9f54-ab0a20abd489.png)

[2016-05-25 15:32] TornjV commented on #55
I would try something like this and without text.
http://jsfiddle.net/f4xkxkwL/

[2016-05-25 15:37] TornjV commented on #55
Or, since we seem to use font-awesome and not bootstrap atm, maybe just use one of these.
http://fontawesome.io/icons/

[2016-05-25 15:51] duaraghav8 commented on #55
@TornjV  Well, icons alone are quite intuitive. So I guess they're suitable as well

[2016-05-25 16:19] parkjs814 commented on #55
@duaraghav8 It looks great.
As @TornjV it will be okay without text.

[2016-05-25 18:39] parkjs814 commented on #55
I've thought about it more, and we may need to show the lists vertically somewhere since they are going to be too many. How do you guys think?

[2016-05-25 18:44] archie94 commented on #55
Additionally I think there should be a horizontal scroll for the algorithm description bar. For a large description like in the Knapsack Problem, it is becoming difficult to read.

[2016-05-25 20:33] PFischbeck opened #58 "Non-naive bridge finding"
When I saw the naive bridge finding algorithm (PR #54), I expected a non-naive version as well.
There is a version by Tarjan (https://en.wikipedia.org/wiki/Bridge_%28graph_theory%29#Tarjan.27s_Bridge-finding_algorithm).
There is also an easier version on the internet (http://stackoverflow.com/a/28917697/262526), but unfortunately I was unable to find the original source for this.

Anyone willing t

[2016-05-26 00:47] parkjs814 commented on #23
01f90ef6494137f6abe46b51de02d291ee07d1ee

[2016-05-26 00:47] #23 closed

[2016-05-26 00:49] parkjs814 commented on #19
added at 0ef789769d45b88ce6c37ca81db585f26d8a9337

[2016-05-26 00:49] #19 closed

[2016-05-26 00:51] parkjs814 commented on #26
added at fd16e475474eb5a136b438388de2c2acba74078b

[2016-05-26 00:51] #26 closed

[2016-05-26 03:31] rajington commented on #19
Really nice! Whipping up something complicated to use this right now.

[2016-05-26 04:25] duaraghav8 commented on #58
@PFischbeck When I implemented the Naive one I had the exact same though. I'm currently working on another issue, but once I find time I'll also implement Tarjan's. But if anyone else is willing to contribute, that too would be great!

[2016-05-26 05:00] gammison commented on #22
This could be done using a modified 2d-array tracer but modifying it to take images then translate them to array cells with hex color values, I'll work on it tomorrow.

[2016-05-26 05:18] duaraghav8 commented on #55
guys please test [my fork](https://github.com/duaraghav8/AlgorithmVisualizer) on your machines for the scrolling in Files Bar
Don't pay attention to the icons, will change them.
Just see if the functionality is good enough, or does something need to be changed.
Thanks

[2016-05-26 05:39] rajington commented on #19
I took a stab at implementing the Slope One item-item collaborative filtering algorithm http://rajington.github.io/AlgorithmVisualizer/ based on the example at the end of the chapter here: http://guidetodatamining.com/assets/guideChapters/DataMining-ch3.pdf

[2016-05-26 05:46] parkjs814 commented on #19
@rajington looks awesome! Can you send us the pull request of it?

[2016-05-26 05:47] parkjs814 commented on #55
@duaraghav8 can you push it to gh-pages so that everyone can see easily?

[2016-05-26 06:12] duaraghav8 commented on #55
I don't have a problem with that. I just didn't want to push it until it was finalized. I'll do it, just check and let me know.

[2016-05-26 06:14] duaraghav8 commented on #55
Ok done, check

[2016-05-26 06:21] parkjs814 commented on #39
I was looking for uglifying library for the client side, but it seems most of them are for node.js.
Do you know any?

[2016-05-26 06:23] parkjs814 commented on #55
I meant push it to `gh-pages` on your fork, my bad.
But no worries, it looks great :)

[2016-05-26 06:28] archie94 commented on #55
:+1:  Is it possible to grey out the next button to indicate the end of the list ?

Great work with the description bar  :+1:

[2016-05-26 06:29] nem035 commented on #39
@parkjs814 take a look at the sources here https://skalman.github.io/UglifyJS-online/
This person made a wrapper around uglify to make it run client-side.

[2016-05-26 06:49] parkjs814 commented on #25
added at f148adb9014865569f0a359484059f458475a06c

[2016-05-26 06:49] #25 closed

[2016-05-26 07:36] duaraghav8 commented on #55
@archie94 I thought about it too. I first wanted people to decide if this looks ok. I'll improve it further, thanks

[2016-05-26 07:44] parkjs814 commented on #55
@duaraghav8 I'm currently working on improving it. I'll let you know when I'm done.

[2016-05-26 08:08] parkjs814 opened #68 "Share limit because of GitHub Gist API"
It seems GitHub Gist API limits the number of creating Gists from unauthenticated request.

[code]

[2016-05-26 08:32] TornjV commented on #68
The limit seems to be 60 requests per hour, and is tied to local user.
It is not the best solution, but is good enough for now since it's unlikely that many will normally share more than they're allowed.

[2016-05-26 08:44] parkjs814 commented on #68
Yea that's true.
Once we support authenticated one, the user can view all the files (s)he shared. That will be awesome.

[2016-05-26 09:08] duaraghav8 commented on #39
This seems fantastic. But its not solving the issue, i.e., all variable names remain intact even after the minification.

[2016-05-26 09:23] parkjs814 commented on #39
That's not a big deal. We can just avoid short-named variables.
What I'm worrying about is that it could lower the performance of realtime-rendering.

[2016-05-26 10:20] parkjs814 commented on #55
improved at 99c5a3eeb244c25f58070b6ff720d57a8d67bdbc

[2016-05-26 10:20] #55 closed

[2016-05-26 14:48] TornjV opened #71 "Chart tracer"
![screen shot 2016-05-26 at 4 48 22 pm](https://cloud.githubusercontent.com/assets/13820300/15578661/ae640d0a-2361-11e6-8038-423714c9ce37.png)
Would this kind of tracer be useful?
Uses [Chart.js](http://www.chartjs.org/)

[2016-05-26 18:25] duaraghav8 opened #77 "._isSelected ()"
I think it would be good if we had tracer._isSelected () to determine if a particular element is selected or not.
Its not absolutely necessary, but I think it makes some tasks much easier. I've felt the need on several occasions.

[2016-05-26 20:00] parkjs814 commented on #71
It will definitely be useful!
We can add this tracer to most of the sorting algorithms!
👍

[2016-05-26 20:02] parkjs814 commented on #71
Have you already implemented? or is it just mockup?

[2016-05-26 20:22] parkjs814 commented on #77
Due to the memory problem, it is not favorable to save data for every steps.
So that if we really want to create _isSelected() method, it should depend on the visualized result (such as checking whether table-cell is colored red or not).
However, since the visualized result comes out after finishing execution of code pieces, it is contradictory to reference the future outcome.

[2016-05-26 21:10] pheintzelman opened #79 "Visual Array Dividers"
For algorithms like merge and quick sort a visual indicator of a divide would be nice.

very quick version:

![image](https://cloud.githubusercontent.com/assets/2145906/15590236/7768b2bc-234b-11e6-8fa3-d9db8653b26c.png)

I think just a gap or a black line. Only chose red in my picture to be clear.

[2016-05-26 21:13] parkjs814 commented on #39
I figured out that we don't even need to use uglify.
I just moved all the global variables into an anonymous function, and changed all references to it.

fixed at ceadfa439c1b1a2da028d0c35c233f8c7c8e4128

[2016-05-26 21:13] #39 closed

[2016-05-26 21:15] parkjs814 commented on #79
How creative! I will work on it soon :)

[2016-05-26 21:24] parkjs814 commented on #79
Mhm this is creative! I will work on it soon.

[2016-05-27 04:06] duaraghav8 commented on #58
@PFischbeck I've added the O(V+E) algorithm. I'm open to feedback.

[2016-05-27 04:06] #58 closed

[2016-05-27 18:37] bbarry opened #88 "Bottom Up Merge"
The existing merge implementation is overly complex and doesn't show what it is doing very well. I suggest exposing the internal working arrays and switching to a non-recursive bottom up implementation:

https://gist.github.com/bbarry/020db3f362cd410958fab7b7891bdd16

[2016-05-27 18:51] parkjs814 commented on #79
added at fa78c4c97e3a3abf8285491a89e907da728da0b2

Check out the [example](http://jasonpark.me/AlgorithmVisualizer/?scratch-paper=2d2a9478613017d354b55ef8741d955f)!

[2016-05-27 18:51] #79 closed

[2016-05-27 18:57] parkjs814 commented on #88
Look does look much easier to understand! I will add it to merge sort.

[2016-05-27 18:57] #88 closed

[2016-05-27 19:13] parkjs814 commented on #88
added at 1db8388729045d109dbedb6ac1a767f728dc1b32

[2016-05-27 21:38] TornjV commented on #71
#91

[2016-05-27 21:38] #71 closed

[2016-05-27 21:40] nem035 commented on #20
@mdtareque is this still happening or can the issue be closed?

[2016-05-28 00:21] TornjV commented on #28
#93

[2016-05-28 00:48] TornjV opened #94 "TracerUtil"
[code]

Jquery .isNumeric(Infinity) returns false, so shouldn't it be checked in refineString ?

[2016-05-28 00:50] nem035 commented on #94
Yup, you're correct. I'll make a quick patch.

[2016-05-28 01:01] #94 closed

[2016-05-28 01:03] nem035 commented on #94
Solved by #95

[2016-05-28 03:02] parkjs814 commented on #28
Frankly, I'm not sure regarding time complexity is effective for our project. It makes harder to understand the fundamental concept of the algorithm.

[2016-05-28 07:22] parkjs814 opened #100 "Supporting any value for 3rd argument of _notify method in Array2DTracer"
#98

[2016-05-28 11:55] wnesensohn commented on #28
I'm not here to tell you what your project should or should not be, but
consider this: Is it helpful for understanding Selection Sort by hiding the
one step which defines this algorithm? Right now it visualizes like an
oracle selection sort, where it automatically picks always the right value.
Of course you and I know that there is no oracle, and that it has to
iterate over every unsorted element.

[2016-05-28 17:55] parkjs814 commented on #28
I totally agree with you for the case of Insertion Sort.
However, in regard to time complexity, `_wait()` method should be called exactly once in one iteration (_for_ statement or recursive function).
Here is one of examples why that can be harder for learners to understand.

For the Binary Search algorithm, it currently calls `_wait()` methods twice — once after selecting range and once after sel

[2016-05-29 08:43] nem035 commented on #48
#### [Oh yeah, ES6 update is here 😎](https://github.com/parkjs814/AlgorithmVisualizer/blob/gh-pages/ES6.md)

[2016-05-29 14:30] apollonian11 opened #112 "LogTracer1's position"
Reporting an unexpected behavior. LogTracer1 section appears above the Encryption & Decryption sections [here](http://jasonpark.me/AlgorithmVisualizer/#path=cryptography/caesar_cipher/basic) (Trace tab).

![capture](https://cloud.githubusercontent.com/assets/2150306/15634041/5b66b76e-25d8-11e6-9230-9b2ffb508acb.JPG)

[2016-05-29 14:59] duaraghav8 commented on #112
Hi,
I don't think its unexpected. The position of tracers depends upon the order in which they are created.
Have a look at Affine Cipher, and notice that, in data.js, new LogTracer () is called **after** the other tracers were created, so it comes below them in the visual.

Here, see the "Scratch Paper" section of [this](http://jasonpark.me/AlgorithmVisualizer/#path=scratch/b0c2899b09c247da4566a52

[2016-05-29 16:05] apollonian11 commented on #112
Hello Raghav,

Agreed. I expressed my doubt because the logger appears at the bottom on all pages expect the one mentioned here.

Why is this not the order?
[code]

P.S. These pages have LogTracer on the top too: [Ugly Numbers](http://jasonpark.me/AlgorithmVisualizer/#path=dp/ugly_numbers/basic) & [Substring Search](http://jasonpark.me/AlgorithmVisualizer/#path=string/knuth_morris_pratt/substring_

[2016-05-29 16:58] parkjs814 commented on #112
The order of tracers will be refreshed when you cut those three lines and paste them at the same place.
I can say this is a bug.

[2016-05-29 19:12] duaraghav8 commented on #112
@apollonian11 I see your point. Best for the LogTracer to maintain consistency (in appearing at the bottom always), thanks for the re-ordering.

@parkjs814 Could you please explain why you say its a bug? If you cut those lines and paste the same back, the order remains intact. The tracers themselves are refreshed, but they still follow the order in which they are declared in the code.

[2016-05-29 19:21] apollonian11 commented on #112
@duaraghav8 #112 is solved. :+1:

[2016-05-29 21:08] parkjs814 commented on #112
@duaraghav8
`TracerManager` saves the **types** of tracer in an array for ordering.
If the code is changed, `TracerManager` removes unused types of tracer, adds newly used types of tracer, and assigns the actual tracer objects to the DOM elements based on the array.
So when using the same types of tracer, there is no problem in ordering.

Here is the example of the case that it doesn't follow the

[2016-05-30 04:44] duaraghav8 commented on #112
Ah! I see, thanks

[2016-06-01 03:14] #112 closed

[2016-06-01 03:26] #100 closed

[2016-06-01 03:43] nem035 commented on #48
Finished with https://github.com/parkjs814/AlgorithmVisualizer/pull/123

[2016-06-01 03:43] #48 closed

[2016-06-04 18:02] duaraghav8 opened #143 "Search Bar"
The number of visualizations is growing fast. Eventually, we'll face 2 problems:

1. Users will have a tough time finding a particular visualization (and determining if it exists at all) because they may not be able to guess the right category to look under. For instance, Longest Common Subsequence could come under String as well as under DP. A smoother way would be to just type in the algorithm i

[2016-06-04 18:08] nem035 commented on #143
Yup, this is definitely needed.

[2016-06-05 17:38] parkjs814 commented on #143
That will be great.
In which are you going to add it, side menu or navigation bar?

[2016-06-06 14:23] walaoaaa1234 opened #144 "Caesar Cipher - string with space"
![untitled](https://cloud.githubusercontent.com/assets/16463054/15825134/239f2b50-2c35-11e6-8459-dab9cc512a11.png)

string with space can not encrypt correctly.

[2016-06-06 16:06] duaraghav8 commented on #143
The nav bar seems like a better option, easily visible and we can make it quite wide. There are really good Ajax-based autocomplete plugins for search box implementation. (eg- http://www.tipue.com/drop/)

Alternatively, it could be in side menu. As soon as you start typing, the menu is replaced by clickable suggestions. Which one seems better to you?

Also, my css skills are very poor, so the UI w

[2016-06-06 17:36] nem035 commented on #143
If we are keeping the sidebar to the left (and completely preloading it the way we do it now), then my vote is to put the search bar on the sidebar. I also think that since data is already preloaded, we don't need to use ajax and should just do in-memory filtering of results, no need to make network requests for things we already have.

[2016-06-07 04:55] duaraghav8 commented on #143
@nem035 Adding dropdown is one of the options I was considering. But you're right about ajax, we already have the entire list in memory, silly me!

I'm a bit more inclined toward the header search bar which will show matches from the in-memory list when the user starts typing, so I'll work on that.

Sure, thanks!

[2016-06-09 16:28] #144 closed

[2016-06-10 18:55] duaraghav8 opened #156 "Unable to Vertically Resize the Code Editors"
Will pick this up tomorrow (if nobody else is planning on taking it up)

[2016-06-10 22:15] #156 closed

[2016-06-12 06:59] duaraghav8 opened #168 "Code Editors: Vertical Resizing doesn't really help right now"
![rsz_shot](https://cloud.githubusercontent.com/assets/12758282/15989610/08b7dde2-3099-11e6-8050-21608fae4a9c.png)

One would expect that after vertical resize, more code would be visible. But this is not currently the case.
Even after I resize the window, I only see until line 37, whereas there is more space below, so more lines should've been visible.

[2016-06-12 07:23] #143 closed

[2016-06-12 07:42] #168 closed

[2016-06-12 12:22] duaraghav8 opened #170 "Enable Fullscreen"
I'm currently working on full screen feature, here's the demo:
http://duaraghav8.github.io/AlgorithmVisualizer

(notice the Fullscreen button next to Share button on nav bar)
The feature will work with browsers which support the Fullscreen API (I've added vendor IDs for chrome, firefox, opera, IE)
(https://github.com/duaraghav8/AlgorithmVisualizer/blob/gh-pages/js/dom/enable_fullscreen.js)

The is

[2016-06-12 14:10] parkjs814 commented on #170
Great idea.
Can you create `fullscreen` branch in this repo and pull this?
I will look into it.

[2016-06-12 14:31] #170 closed

[2016-06-13 18:39] parkjs814 opened #176 "Deployment to Heroku"
Due to some inconveniences of GitHub Pages including `gulp` confliction, it seems much better to deploy our repo to Heroku.
From now on, every commits pushed to `master` branch are automatically deployed to [http://algo-visualizer.jasonpark.me/](http://algo-visualizer.jasonpark.me/) or [http://algorithm-visualizer.herokuapp.com](http://algorithm-visualizer.herokuapp.com), running on `gulp`.
What I

[2016-06-14 17:02] nem035 opened #178 "Improving Tracer(s) API"
I think we should make the arguments to each tracer API explicit. For example, this:

[code]

Is confusing to the user:
 "_What the heck do those numbers mean?_"
"_Oh yeah, I know what they mean but what's their order?_"
"_Why do I even bother anymoreeeeeeeee_" 😄

Tracers should be changed to accept an options object with each property explicitly named. This will make things much clearer:

[code]

[2016-06-14 18:53] parkjs814 commented on #178
Love this idea!

[2016-06-15 11:24] duaraghav8 commented on #178
So are we going to:
1. Change the API to only support object passing and make appropriate changes in all the visualizations written till now or,
2. Update the API to support **both** passing of object & individual parameters so the previous code can continue to exist as-it-is and new code can exploit this functionality
?

[2016-06-15 15:19] nem035 commented on #178
I'd vote for 1. The reason we made the code to accept arguments like this is because it was easier to quickly hack a feature. However, imho this design won't work well. Everybody will need to look at the API code or a at least a code example in a different algorithm every time they want to use a Tracer and anybody new coming to the website won't know what those arguments mean without doing the sam

[2016-06-15 16:02] duaraghav8 commented on #178
hmm, my primary assumption was that we would never encounter a scenario where the first of the 4 arguments could be valid if it were an object. So the first arg would either be an object (which means ignore any other args) or it would be a Number (then don't ignore the other 3). In that case, something like this would've sufficed:

[code]
plus we could specify usage in wiki. but then again, it mig

[2016-06-15 16:04] nem035 commented on #178
Yeah, that all makes sense, but I think our final goal should be to eliminate arguments completely. Option 2 can be a temporary solution thought. We can add that so the app still works while we update all the algorithms overtime.

[2016-06-16 04:01] nadr0 opened #181 "Allowing for custom colors"
When using the flood fill example I realized there was a limitation of color. I thought it would be useful to allow the coder to provide different colors to a Tracer for they can have custom select or notify etc.. colors.

Any thoughts on this? I am gonna mess around with the code to see if I can get something working.

Edit - Pull Request : #188

[2016-06-18 12:43] gautamkrishnar commented on #176
You can also try out openshift; https://www.openshift.com/
Try applying for a free open source instance:https://www.openshift.com/grants/

[2016-06-19 12:28] #176 closed

[2016-06-19 14:25] nadr0 commented on #181
Pull request went through, this can be closed whenever.

[2016-06-21 08:09] linkkingjay opened #189 "gulp error"
I got this error when I ran `gulp`:
[code]
![blob](https://cloud.githubusercontent.com/assets/12758282/16239432/6d827ce4-3802-11e6-899a-fbca37ee6f20.png)

[2016-06-21 18:34] TornjV commented on #189
That file should be build into the public directory, not in css.
Is your local repo up to date with this one ?

[2016-06-22 03:05] linkkingjay commented on #189
@TornjV I'm sure it is update to date.

[2016-06-22 15:30] parkjs814 commented on #189
Can you `npm update` and try `gulp` again?
There has been a [significant issue](https://github.com/tracker1/gulp-header/issues/37) in `gulp-header` module for a few days, and it seems fixed recently.

[2016-06-23 02:43] linkkingjay commented on #189
@parkjs814 It works 👍

[2016-06-23 02:43] #189 closed

[2016-06-26 18:03] duaraghav8 opened #197 "Visual Editor"
Allow the user to create the visual elements using Drag-&-Drop and automatically generate the code for it.

For instance, think MS Word: How it lets you create a Table with specified no. of rows & columns, then you write data in it. This automatically generates code for **Array2DMatrix**.

Sounds exciting to me, will start working on it if it seems beneficial to all
(others are most welcome to hop

[2016-06-28 02:56] nadr0 commented on #197
Would you have something get populated with the generated code and they would copy and paste it into their data.js file?

[2016-06-28 03:58] duaraghav8 commented on #197
Yes, the idea is that the user simply works on the visuals, no need to touch code.
So if one was to make a table like:

2   -12   90
29   39  10
11     11     11

and name it **myTable**

the code generated looks like this:

[code]

We can attach a logger to it as well, but what that logger prints out during runtime is upto us to decide.

[2016-06-28 04:48] nadr0 commented on #197
I am thinking we could edit the 2D tracer to instead create input tags in the cells then we could just read those values and print out the code. I wrote some code to read a table and print out the generate javascript but I am running into some issue with the 2D tracer and changing its html.

[2016-06-28 05:02] duaraghav8 commented on #197
So you mean that the user could open up any algorithm (say for eg - Knapsack 0-1), edit the matrix data, then run it and the algo will run with the new values?
Is my understanding correct?

If yes, this is a really good idea! If you'd like, you can share the code and I'll try finding out why those issues occur.

[2016-06-28 19:29] nadr0 commented on #197
I didn't have that in mind, it was more to reuse the tracer code. Say if there was some "sandbox" page you could click create 2DMatrix and you would tell the number of rows and columns then the 2DMatrix tracer would appear with the correct size and you could just change the values inside that tracer just created. Then code would run to read those values and output the javascript for you can copy a

[2016-06-29 03:09] duaraghav8 commented on #197
@nadr0 ok then we were already on the same page I guess! Even I thought that this feature would be in a separate editor (not inside other algorithms), Its cleaner that way. So yeah, agreed

[2016-06-29 04:16] nadr0 commented on #197
Also I am going to be working off this branch if you want to take a look.
[https://github.com/nadr0/AlgorithmVisualizer/tree/auto-generate-tracers](url)

[2016-07-01 20:32] nadr0 commented on #197
@duaraghav8, I've made some progress on my branch for the sandbox style tracers. Right now I have a simple example working with a 2D Matrix tracer.

Sandbox/2D Matrix and you can use the buttons/input fields on the right hand side.

Some TODOs/fixes
- better placing of the js files?
- my container (with the butons and input fields) is always there, need to only show this when in the sandbox tab
-

[2016-07-03 05:12] duaraghav8 commented on #197
@nadr0 that's great!
But I didn't fully understand the 1st & the last fix. Could you send a screenshot? I'll be able to understand better.

Also, even in case you feel like there are some changes that absolutely need to be made with the tracers' code, no problem. Just discuss with us:)

[2016-07-04 05:33] nadr0 commented on #197
I have a prototype working on the branch. Right now I don't have it with Drag-&-Drop which you mentioned in your first post. Also what I mean by "betting placing of the js files", is I am unsure if the placement of my javascript files is in the proper directories. i.e. does it make sense for the files to be in that folder? is this a good way of calling my code? etc..

My only todo right now is to

[2016-07-04 16:26] parkjs814 commented on #197
Great job! However, I guess it will be little dizzy for users to go to sandbox, generate the code of Array2DTracer, copy it, go back to scratch paper, and paste it. How do you think of putting a `Generator` button, or something like that, on the top navigation bar and when clicking it, showing up a pop up (not a  new window but an overlaid `div`) which looks like that screenshot.

[2016-07-05 01:55] nadr0 commented on #197
For reference: #203

[2016-07-08 21:17] nadr0 opened #207 "Using MathJax"
I think it would be useful to have Latex renderings of the space and time complexities when describing the algorithms. Right now its just being rendered with HTML tags. We could potentially use [MathJax - Github](https://github.com/mathjax/MathJax), [MathJax - Website](https://www.mathjax.org/).

The library would provide a cleaner rendering of the typical asymptotic notations. Also the creator wo

[2016-07-09 20:24] parkjs814 commented on #207
That would be helpful not only for time complexities but also for other description of the algorithms.

[2016-07-12 19:40] TornjV commented on #207
#209

[2016-07-12 19:40] #207 closed

[2016-07-12 20:54] nem035 commented on #207
Just wondering, would it be possible to build/compile formula images in advance and use those?
The rendering delay is pretty obvious right now

[2016-07-23 19:39] nadr0 commented on #207
Hey I took a look into this, because I am using CDN to request the render of the mathjax it can take awhile to load. If we include the mathjax library directly in the repo it will load everything faster. Also the renders of Mathjax do get cached (both with CDN and local library). The library is about 19.4MBs and its a decent amount of files.

If we are going to be rendering more Mathjax on the sit

[2016-08-21 14:02] voronoipotato opened #213 "BST insertion is misleading"
BST insert visualization and demonstration code needs some work. For example it appears as though the BST is some kind of static universally shaped thing but that’s because your insert order is the same every single time. This misdirection is only exaggerated by the gray, precomputed BST in the background.

[2016-09-11 19:28] TornjV commented on #77
This could easily done with an additional array added to your code if needed.
Closing for now.

[2016-09-11 19:28] #77 closed

[2017-02-06 08:57] snyk-community opened #219 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
  - [Regular Expression Denial of Service](https://snyk.io/vuln/npm:minimatch:20160620?utm_source=gh_issue)
  - Affected package: minimatch &lt;&#x3D;3.0.1

[Here is the test report for this repo. ](https://snyk.io/test/github/parkjs814/AlgorithmVisualizer?utm_source=gh_issue)
If you’d like to fix this vulnerability, Snyk lets

[2017-02-06 09:32] duaraghav8 commented on #219
Hi,
If you're willing to contribute a patch as an open source enthusiast, we welcome (and applaud) your contribution!
But it seems that you're a business and this is a marketing gimmick that we really don't appreciate.
Nevertheless, thanks for informing us, cheers.

[2017-02-06 09:32] #219 closed

[2017-02-06 09:45] snyk-community commented on #219
Hi @duaraghav8
Thanks for your comment. I just opened a fix PR [#220](https://github.com/parkjs814/AlgorithmVisualizer/pull/220) cheers.

[2017-02-28 11:17] parkjs814 commented on #213
#221

[2017-02-28 11:17] #213 closed

[2018-03-23 03:46] nanw1103 opened #228 "Feature: show pointer indicator and swap indicators"
Algorithm Visualizer is a good idea.
How about show indicators to points our the "current focus", or "nodes being swapped".

[2018-04-08 00:02] parkjs814 opened #229 "Migration to React.js"
I was looking into the code to add several more features, but I found it quite messy overall. Especially, CSS and Tracer parts were horrible as they were written not long after I began web programming. The readability got much better after @nem035 thankfully rewrote everything in ES6 (#48) about 2 years ago. (Already!) I believe migrating to React.js will do even more. I will be working on rewriti

[2018-04-08 01:48] nem035 commented on #229
I'm down to help with anything if needed 🙂

I also suggest to go the [CSS-in-JS](https://hackernoon.com/all-you-need-to-know-about-css-in-js-984a72d48ebc) way with [styled-components](styled-components.com) or maybe [glamorous](https://github.com/paypal/glamorous) rather than SASS

[2018-04-08 02:10] parkjs814 commented on #229
@nem035 Cool :+1: I will go the CSS-in-JS way with Webpack's [css-loader](https://github.com/webpack-contrib/css-loader). I am also planning to use SASS along with it.

[2018-04-08 07:44] TornjV commented on #229
Down for it also!

👍 For styled-components

[2018-08-18 07:52] ChakshuGautam commented on #229
Would like to help too. Is there a branch you guys are working on?

[2018-11-17 16:24] CristianCantoro opened #233 "Add documentation for local deploy"
Hi,

I am trying to run algorithm-visualizer locally, but I am not very expert in running Node.js applications. So, it would be of great help for me if the local deployment process would be documented. Here's what I have tried to do, noting that I get an error at the end.

1. I have cloned the project and `cd` into the directory: `git clone https://github.com/algorithm-visualizer/algorithm-visuali

[2018-11-18 02:32] parkjs814 commented on #233
Hi Christian,

I've been working on rewriting the entire project for major changes, and I regret to tell you that I may not be able to write documentations for local deployment and contribution until I finish rewriting it.

I haven't tested running it on Linux though, based on your log, the error seems to be caused by process.env.LANG having an inappropriate value. It should have either `undefined

[2018-11-20 01:09] CristianCantoro commented on #233
Hi @parkjs814,

It's ok, thanks for your help.

I have uset the env variable `LANG`:
[code]

The installation goes further, but I still get an error (see the [full log](https://github.com/algorithm-visualizer/algorithm-visualizer/files/2597640/algorithm-visualizer02.log)):
[code]

If you think it would not be useful to keep debugging this and I should wait for your rewrite, let me know.

Thank you

[2018-12-05 05:05] parkjs814 commented on #233
Hi @CristianCantoro and @zmwxiaoming, I just finished testing on Ubuntu 18.04 and fixed errors including the one @CristianCantoro mentioned. Thanks for waiting! Also, I will be working on writing documentation soon.

[2018-12-09 01:39] #233 closed

[2018-12-09 01:42] #229 closed

[2018-12-09 01:43] #20 closed

[2018-12-09 01:44] #68 closed

[2019-02-05 08:01] Naereen opened #234 "Make the local version work fully offline!"
Hi!
I love this project, it's awesome!
I successfully ran the project locally, but what a disappointment when I saw that unpkg.com is used a lot in some scripts!
It should run *locally*, like really locally, without an Internet connection!
I wanted to use this project in classes I teach, and I cannot rely on it if it needs Internet access.

Do you have any idea how I can easily change `src/backend

[2019-02-05 08:06] Naereen commented on #234
I tried to download the two files and copy them in the `src/backend/tracers/js/` folder, and changed the two `importScripts('https://unpkg.com/....')` lines to simply `importScripts('file.js')` but it fails.

[2019-02-05 19:03] parkjs814 commented on #234
Hi @Naereen, glad you are considering using it in your classes.

Since [Web Worker](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers) is downloaded from the server and runs locally on browsers, you cannot use `importScripts` with relative paths. One way to run offline is to copy two script files under `/src/frontend/static`. Then, you can import those scripts whic

[2019-02-05 19:07] #234 closed

[2019-02-06 18:09] nem035 commented on #228
At the moment, you can achieve this with tracers although the API is maybe a bit clunky but it works.

Currently, we have 2 states.

There's `tracer.select` and `tracer.patch` that would mark the items in any visualization with blue or red.

For example, in an array we can do:

[code]

This API works for what you suggested although it's not as flexible and only supports 2 selection states.

[You c

[2019-02-06 18:13] nem035 commented on #228
Do you mean items in an array?

Usually, you can achieve this with tracers although the API is maybe a bit clunky but it works.

For example, for arrays, we have 2 states.

There's `tracer.select` and `tracer.patch` that would mark the items in any visualization with blue or red.

For example, in an array we can do:

[code]

[You can see the explicit API's for all the data formats here](https://gi

[2019-02-06 18:17] nem035 commented on #228
Here's an example of solving the Trapping Rain Water problem leveraging the 2 visualization states.

[code]

The code is quite verbose though.

@parkjs814 	it might be worth introducing code-folding to tracer statements by default.

Maybe also extending the API of each tracer so that it can target a `([startLine, startCol], [endLine, endCol])` so that invoking a tracer statement, even when folded

[2019-02-06 18:36] nem035 commented on #228
I just noticed this comment is from early 2018 😂

[2019-02-07 01:47] parkjs814 commented on #228
@nanw1103 Sorry for the (extremely) late response 😭 I just came up with an idea that by adding `.swap(i1, i2)` method to `Array1DTracer` (and similarly `.swap(i1, j1, i2, j2)` method to `Array2DTracer`) we can actually animate two elements being swapped. How do you guys think of it?

[2019-02-07 01:52] parkjs814 commented on #228
@nem035 I love your idea of highlighting the targetted statement. It might be tedious work for myself and contributors to update line/col numbers every time code is changed, but I think it is worth it.

[2019-02-07 16:56] nem035 commented on #228
@parkjs814 What might be a great feature is something like the [variable `watch` in Chrome Dev Tools](https://developers.google.com/web/tools/chrome-devtools/javascript/reference#watch).

We could attach the statements that change the data to renderers (i.e. mark them as "watched"), as opposed to adding the tracer statements which are much noisier.

I'll try and think about a potential implementat

[2019-02-07 16:58] nem035 commented on #228
We could also play with writing a babel plugin for the editor that hides away the tracers and leverages source maps to highlight the proper line

[2019-02-07 23:20] parkjs814 commented on #228
@nem035 For hiding visualization codes, we can use [Non Standard Code Folding](https://github.com/ajaxorg/ace/wiki/Non-Standard-Code-Folding) supported by the ACE editor. I also made them initially folded when code is loaded (de8cd96). Check out the newly written [visualization of Bucket Sort](https://algorithm-visualizer.org/divide-and-conquer/bucket-sort).

[2019-02-07 23:37] parkjs814 commented on #228
I have also been thinking of "watching" variables and messing around with it. Since we cannot literally watch the change of variables like Chrome Dev Tools, what we can do is to provide a getter to the watcher (or `Variable` class below) and whenever tracer is `.delay()`ed, we can call the getter to get the updated value. The usage would look like below:

[code]

Also, we might be able to integrat

[2019-02-14 01:02] suiyueranzly opened #235 "Visualization Not Found"
it has a error when i build my Java code. like this :

![s1exqdtej1](https://user-images.githubusercontent.com/27992898/52754930-2db9da00-3037-11e9-844b-71caebb64050.png)

[2019-02-14 01:27] parkjs814 commented on #235
Sorry, it is due to the updates I made to tracers a few hours ago. I am working on it and expecting to fix it soon.

[2019-02-14 04:57] #235 closed

[2019-02-15 00:55] suiyueranzly opened #236 "the java code doesn't seem to work"
when i build the java code . it has a error , like this :

![bmvmsqba8n](https://user-images.githubusercontent.com/27992898/52827333-59a09280-30ff-11e9-8c5a-0ae52f58404d.png)

[2019-02-15 15:32] parkjs814 commented on #236
I have not documented yet, but I recently added/removed some features including:
- disabling method chaining.
[code]
- adding layout classes.
[code]
- making `.delay()` static.
[code]

I just updated the [visualization of Bubble Sort](https://algorithm-visualizer.org/brute-force/bubble-sort) accordingly.

[2019-02-15 15:32] #236 closed

[2019-02-17 16:33] matanster opened #237 "viterbi"

[2019-03-13 07:39] suiyueranzly opened #238 "*.java file doesn't seem to work"
when i build the java code . it has a error , like this :

![image](https://user-images.githubusercontent.com/27992898/54261201-19b9b780-45a6-11e9-81f9-777829111e95.png)

[2019-03-13 14:52] parkjs814 commented on #238
Oops, I just fixed it by increasing the volume size. It was due to large Docker images taking most of the space. Thanks for letting me know!

[2019-03-13 14:52] #238 closed

[2019-05-31 11:39] MarkKoz opened #244 "Add Python Tracer"
Hi, I'm interested in working on a Python tracer. It seems pretty straight forward: write the tracer, add a Dockerfile to the backend, and port the algorithms to Python (though this seems like it can be saved for later given neither C++ nor Java have any algorithms yet). Would this be a welcomed contribution?

[2019-05-31 14:21] HumanG33k opened #245 "Add from rosetta"
Maybe some algo can be import from
http://rosettacode.org/wiki/Rosetta_Code

[2019-05-31 15:50] parkjs814 commented on #244
Of course it is a welcomed contribution, and I would appreciate it. Let me know if you need any support.

[2019-05-31 18:34] MarkKoz commented on #244
Great to hear. I will start working on it probably next week (currently in the middle of some other work). It seems best for the repo to be created under your organisation, right?

[2019-06-02 12:35] yongxinzhang18810492456 opened #246 "npm run dev fail"
fs.js:143
    throw err;
    ^

Error: ENOENT: no such file or directory, scandir '/home/git/algorithm-visualizer/src/backend/public/algorithms'
    at Object.fs.readdirSync (fs.js:893:3)
    at listFiles (webpack:///./src/backend/common/util.js?:64:28)
    at listDirectories (webpack:///./src/backend/common/util.js?:70:10)
    at Hierarchy.refresh (webpack:///./src/backend/models/Hierarchy.js?:42

[2019-06-02 16:05] parkjs814 commented on #244
Awesome, I just created [tracers.py](https://github.com/algorithm-visualizer/tracers.py) repository. Feel free to send a pull request to it!

[2019-06-02 16:05] parkjs814 commented on #246
Please provide a context. Thanks.

[2019-06-04 02:00] CN-Yi commented on #246
fs.js:904
  return binding.readdir(pathModule._makeLong(path), options.encoding);
                 ^

Error: ENOENT: no such file or directory, scandir 'C:\Users\Administrator\Desktop\新建文件夹\algorithm-visualizer\src\backend\public\algorithms'
    at Object.fs.readdirSync (fs.js:904:18)
    at listFiles (webpack:///./src/backend/common/util.js?:64:28)
    at listDirectories (webpack:///./src/backend

[2019-06-04 09:40] chenchujuan commented on #246
不要中文文件夹命名试试？

[2019-06-04 09:48] sandeepsj opened #248 "The vertical layout of tracers as well as The left menu of algorithms needs a Scrollbar"

[2019-06-05 20:38] ALMerrill commented on #248
Hi, I'm new to open source and would love to help, could I try to work on this? I see the algorithm menu on the left, but what is the vertical layout of tracers?

[2019-06-05 21:26] ALMerrill commented on #246
First timer here, and I got this same error on my first time forking, cloning, running npm install and then running npm run dev. I'm on MacOS.

fs.js:122
    throw err;
    ^

Error: ENOENT: no such file or directory, scandir '/Users/merrill/Development/open_source/algorithm-visualizer/src/backend/public/algorithms'
    at Object.readdirSync (fs.js:809:3)
    at listFiles (webpack:///./src/backend

[2019-06-05 22:44] TornjV commented on #246
Hey guys,

For the time being try cloning manually the [algorithms repository](https://github.com/algorithm-visualizer/algorithms) to `algorithm-visualizer/src/backend/public/algorithms`

[2019-06-06 04:41] sandeepsj commented on #248
the middle part where the Tracers(graph 1dArry ,console etc) are displayed

[2019-06-06 06:52] sandeepsj commented on #248
also The scroll bar does not match with the color and design of the page..it would be better if the scroll bar is smaller in width and match with the black background

[2019-06-06 06:58] ALMerrill commented on #248
Oh you’re right I’ll work on that.

[2019-06-06 17:27] ALMerrill commented on #248
Actually looking at it again, it looks like it has the same design as the scroll bar in the code window. When you mouse over the scroll bar, the gray background appears and it makes the scrollbar wider. It's just a little weird in the tracer windows because of the ability to zoom in and out by scrolling. That makes it so that you have to mouse over the scrollbar, but it does follow the same design

[2019-06-06 18:10] parkjs814 commented on #248
Hi @ALMerrill and @sandeepsj,

I looked into the pull request (#250) regarding this issue, and I believe we don't need `overflow-y : auto;` on `.navigator` as `.algorithm_list` inside of it is already scrollable.

Also, I am not sure why we need a scrollbar for `.visualization_viewer` and `.wrapper`. `LogTracer` already has a vertical scrollbar, and all the other tracers use scrolling to zoom and

[2019-06-06 18:16] ALMerrill commented on #248
Oh gotcha, I see now that the LogTracer is able to scroll as it has overflow. However, I don't see how the algorithm list can scroll, it doesn't seem to be able to. Nor does the Markdown file on the home screen.

[2019-06-06 18:19] parkjs814 commented on #248
Oops, that sounds like a problem. Would you provide which browser and OS are you using? Also, is a mouse connected?

[2019-06-06 18:24] ALMerrill commented on #248
I'm on MacOS in Firefox. I actually just tried it on Chrome and it looks like the algorithm list does scroll, but the Markdown still does not. However, I also now see that the style of the scroll bars are different in Firefox, so maybe that's what @sandeepsj was saying about the style before. Sorry, now I see why I was so confused.

[2019-06-06 18:37] sandeepsj commented on #248
Things works perfect in chrome .. but I was using edge.

[2019-06-06 19:00] parkjs814 commented on #248
It seems like working in both Chrome and Safari after adding `min-height: 0` to `.visualization_viewer`, `.renderer`, and `.navigator`. Can you guys check if it works on yours too?

[2019-06-06 19:09] ALMerrill commented on #248
Looks like that works great. It even makes everything work in Firefox as well.

[2019-06-06 19:10] ALMerrill commented on #248
Only thing in Firefox is that the scrollbars are a much lighter gray, not matching the style as well

[2019-06-06 19:33] parkjs814 commented on #248
Another problem in Firefox is that it ignores the bottom padding when it overflows. 🤔

[2019-06-06 20:36] ALMerrill commented on #248
[This](https://stackoverflow.com/questions/20624938/padding-bottom-is-ignored-in-firefox-and-ie-on-overflowing-elements-with-no-cont) says that you can add `.log:after {
  content: "";
  height: 24px;
  display: block;
}`. That seems to fix the issue in Firefox and leaves it the same in Chrome and Safari

[2019-06-07 04:50] #248 closed

[2019-06-07 11:05] huanglianghui opened #252 "Stop at this window"
Compile successfully, but can't see the effect

[2019-06-07 12:42] parkjs814 commented on #252
Which window?

[2019-06-08 05:38] huanglianghui commented on #252
![捕获](https://user-images.githubusercontent.com/51328155/59142554-b1d30b80-89f2-11e9-9b23-5ea0a776270c.PNG)

[2019-06-08 05:46] parkjs814 commented on #252
Have you tried opening `http://localhost:8080/` in your browser?

[2019-06-08 07:32] huanglianghui commented on #252
It turned out to be like this, thank you.

[2019-06-08 07:52] parkjs814 commented on #252
Turned out to be like what?

[2019-06-08 08:38] huanglianghui commented on #252
Already run successfully

[2019-06-08 11:16] #252 closed

[2019-06-09 17:07] Git4Mark opened #254 "npm run dev error"
environment: os windows10, npm@6.9.0 node@v10.15.0

error stack:

'NODE_ENV' not an internal or external command, nor a runnable program Or batch files
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @algorithm-visualizer/algorithm-visualizer@2.0.0 dev: `NODE_ENV=development ./bin/www`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the @algorithm-visualizer/algorithm-visualizer@2.0.0 dev sc

[2019-06-09 18:21] parkjs814 commented on #254
Hi, I updated the documentation just now. Can you follow [these instructions](https://github.com/algorithm-visualizer/algorithm-visualizer/blob/master/CONTRIBUTING.md#running-locally) to see if it works?

[2019-06-09 18:23] parkjs814 commented on #246
Hi @yongxinzhang18810492456, @CN-Yi, and @ALMerrill. I updated the documentation just now. Can you follow [these instructions](https://github.com/algorithm-visualizer/algorithm-visualizer/blob/master/CONTRIBUTING.md#running-locally) to see if it works?

[2019-06-10 06:33] ALMerrill commented on #246
Looks like that all worked for me. In addition, when I ran `npm start` it actually opened to `localhost:3000` for me in my browser.

[2019-06-10 06:52] #246 closed

[2019-06-10 07:41] Git4Mark commented on #254
@parkjs814
following the latest instructions,   **'npm start**' failed
**error stack :**
[code]
**2019-06-10T07_23_18_151Z-debug.log:**
[code]

[2019-06-12 09:01] gaojian19930607 opened #255 "the java code doesn't seem to work"
when i build the C++ code . it has a error , like this
![代码](https://user-images.githubusercontent.com/43981435/59337578-78bcd300-8d33-11e9-868c-2cf06270c5e0.PNG)
![错误](https://user-images.githubusercontent.com/43981435/59337752-c3d6e600-8d33-11e9-839d-9be3397c2298.PNG)

Thank you for you help.

[2019-06-12 09:08] #255 closed

[2019-06-12 09:45] gaojian19930607 opened #256 "The C++ code does't seem to work"
when i build the C++ code . it has a error , like this :
![错误](https://user-images.githubusercontent.com/43981435/59341077-c50b1180-8d39-11e9-8e9c-0adc6261268d.PNG)
This is the code:
![代码](https://user-images.githubusercontent.com/43981435/59341094-d3592d80-8d39-11e9-84c3-6c155ad94530.PNG)

Thank for your help .

[2019-06-12 10:30] parkjs814 commented on #256
I think on **line 18**, it should be `{` and `}` instead of `[` and `]`:
[code]

I'll probably be writing documentation for the C++ library soon, thanks.

[2019-06-13 01:40] gaojian19930607 commented on #256
OK, thank you very much

[2019-06-13 19:14] Git4Mark commented on #254
That problem was solved，yarn is useful

[2019-06-14 21:05] #254 closed

[2019-06-16 10:13] #256 closed

[2019-06-16 10:20] gaojian19930607 opened #257 "Why can not run tarcers.py locally"
I  run tarcers.py in pycharm and Python 3.7
‘
![image](https://user-images.githubusercontent.com/43981435/59562755-35c86b80-9063-11e9-9e4a-2ad1a3779f97.png)
![image](https://user-images.githubusercontent.com/43981435/59562775-5d1f3880-9063-11e9-8619-9b9221ce0778.png)
I  am   very happy  to get help from you

[2019-06-16 18:38] parkjs814 commented on #178
I recently revised the randomizers as @nem035 suggested (3 years and a day ago already!), and now they look like this:

[code]

[Here](https://algorithm-visualizer.github.io/tracers.js/modules/randomize.html) is the new documentation about it.

[2019-06-16 18:38] #178 closed

[2019-06-20 07:10] SAILgaosai opened #260 "too much output in c++ lead to low disks space"
I'm sorry for taking up you disks space when I am compiling my c++ code.

![2_~91ZP~XS}MWR7NNN0`}FS - 副本](https://user-images.githubusercontent.com/43602866/59828338-5ea37600-936d-11e9-8074-07f468d8b91d.png)

Here is my code
[code]

[2019-06-20 10:33] parkjs814 commented on #260
It is mostly because Docker is taking up too much space, so no worries about it😂. I just freed up the disk manually, so it should be working fine by now. Thanks for letting me know!

It has happened periodically, so I might consider using AWS Lambda instead of running Docker on AWS EC2 to compile codes.

[2019-06-20 10:33] #260 closed

[2019-06-28 09:18] OXOYO opened #261 "can you support i18n?"
This is a great project, can you support i18n?

[2019-07-05 17:32] jeffslofish opened #263 "Missing favicon.png file"

[2019-07-05 18:05] jeffslofish opened #264 "Get errors when resizing panels horizontally."
Uncaught TypeError: this.codeEditorRef.current.getWrappedInstance is not a function

![image](https://user-images.githubusercontent.com/1240484/60738817-815c8f80-9f14-11e9-93f4-0645b7241d5b.png)

[2019-07-06 11:05] #264 closed

[2019-07-06 11:06] parkjs814 commented on #264
Thanks for finding/fixing the issue!

[2019-07-06 11:14] #263 closed

[2019-07-06 11:25] parkjs814 commented on #261
Hi @OXOYO, I'm currently focusing on optimizing internal stuff (so that the server doesn't go down once it gets too much traffic 😅). Once I'm done with that I'll try to support i18n.

[2019-07-08 16:59] fty48jj19 commented on #263
e  vc abriu  essa ediaçao  nao fucionou nao  qual meio dessa funçao dess codigo

[2019-07-11 01:27] OXOYO commented on #261
@parkjs814 ok,thank you!

[2019-07-12 08:11] 2298119289 opened #267 "Module not found: Can't resolve 'bluebird' in 'G:\algorithm-visualizer\src\apis'"
Starting the development server...

Failed to compile.

./src/apis/index.js
Module not found: Can't resolve 'bluebird' in 'G:\algorithm-visualizer\src\apis'

Why is this?
What do I need to do?

[2019-07-12 08:26] #267 closed

[2019-07-17 08:47] srkn commented on #244
@MarkKoz  Is there any news on this ?

[2019-07-17 09:18] parkjs814 commented on #244
I have been busy recently and I assume so is @MarkKoz, but I will continue working on it whenever I get some free time (hopefully within 2 weeks).

[2019-07-17 11:09] MarkKoz commented on #244
I'll try to get back on it within a similar time frame. I'd like to get it to a working state as it's crude and completely untested right now.

[2019-07-20 04:54] #261 closed

[2019-07-24 00:39] MarkKoz commented on #244
Update: started working on unit tests. Not the most fun to write but it's getting there. Will open a PR once I've finished at least one batch of tests. Has already revealed some errors in the code to me which I've patched up along with the circular import error.

[2019-07-24 13:11] parkjs814 commented on #244
Sounds great, I'll also start to work on deploying the library to Python Package Index and creating AWS Lambda function to compile codes soon.

[2019-08-03 17:53] MarkKoz opened #268 "Scratches Returned from Visualisation API Don't Work"
The scratch shows a JSON with the only contents being `"undefined"` and an error at the bottom right is shown stating `e.shift is not a function`. Maybe I'm making the request incorrectly. I'm just sending the JSON as the body of a POST request. It does return a scratch link to me so I'm doing _something_ right.

[2019-08-27 07:32] parkjs814 commented on #268
I know it's been a while, but do you still have the request header/body so that I can reproduce the error?

[2019-08-27 07:41] jdk9 commented on #268
Why I can recive this E-mail？------------------ 原始邮件 ------------------
发件人: "Jinseo Park"<notifications@github.com>
发送时间: 2019年8月27日(星期二) 下午3:32
收件人: "algorithm-visualizer/algorithm-visualizer"<algorithm-visualizer@noreply.github.com>;
抄送: "Subscribed"<subscribed@noreply.github.com>;
主题: Re: [algorithm-visualizer/algorithm-visualizer] Scratches Returnedfrom Visualisation API Don't Work (#268)

I

[2019-08-27 19:15] parkjs814 commented on #268
My bad, I forgot to mention that the value of `content` should be a serialized JSON string instead of the actual JSON array.
e.g.,
[code]

[2019-09-20 03:01] enron2014 opened #271 "发现只有js代码逐步执行 而java不会 是我浏览器的问题吗"

[2019-10-10 17:08] peterschussheim opened #272 "Simplify and reduce the complexity of visualization creation"
Thanks to @parkjs814 and all other contributors to this project; it is an amazing resource for learners.

# Overview

This issue is intended to continue a conversation from #228 on the problem of the complex API, which @nem035 has explained clearly in his [comment](https://github.com/algorithm-visualizer/algorithm-visualizer/issues/228#issuecomment-461509359):

I've run into this 'noisiness' probl

[2019-10-13 07:53] parkjs814 commented on #272
Hi @peterschussheim, thank you for your interest in our project and the suggestions you made. I agree that the current design of Tracer APIs is not the most user-friendly. However, there are some issues to be resolved before implementing your suggested solutions. (In addition, now that we support C++, Java, and Python (soon), the solutions would only be applicable for JavaScript.)
- **Implementing

[2019-10-13 14:53] nem035 commented on #228
Hmmm, so I can see how having our own abstractions over language constructs like `Variable`, `Loop` etc would solve this. The tradeoff would be that we'd be introducing a minor learning curve (via our own [DSL](https://en.wikipedia.org/wiki/Domain-specific_language)).

Another solution that comes to mind, albeit more complex, is to attach watchers into the syntax of the language itself, rather tha

[2019-10-14 07:42] parkjs814 commented on #228
@nem035 I love this approach. If we can implement your second solution, we would significantly lower the barrier to entry for new users. I'll test it out on JavaScript using [Acorn](https://github.com/acornjs/acorn) when I get time.

[2019-10-14 12:21] nem035 commented on #228
Sounds good!

For a multi-language approach we could try out [tree-sitter ](https://tree-sitter.github.io/tree-sitter/#available-parsers) (it's built by the Atom team @ Github)

[Try out their playground here](https://tree-sitter.github.io/tree-sitter/playground)

[2019-11-05 06:28] Kunaljain7 opened #273 "Cannot open the site"
I cannot access the site. The site is not working on any platform

[2019-11-05 07:13] parkjs814 commented on #273
I just fixed the issue. Thank you for the report!

[2019-11-05 07:13] #273 closed

[2019-11-26 10:43] Viacheslav853 opened #275 "ytuihjo"
ertyjuki

[2019-11-26 10:44] Viacheslav853 opened #276 "1"
[sfdghjhgf](url)

[2019-11-26 13:22] parkjs814 commented on #275
?

[2019-11-26 13:22] #275 closed

[2019-11-26 13:23] #276 closed

[2019-12-04 00:50] yaboililc11 opened #277 "cloud I.P"
https://ipinfo.io/account/search?query=172.217.5.206#

[2019-12-08 05:16] kburman opened #278 "Embeddable Version for blog post."
Is it possible to have some embed code that I can put in my blog post to just show visualization not code or logger with basic control?

First I thought of making a GIF and adding it but something interactive would be a lot more fun.

[2019-12-12 09:22] AdvAlg98-Farahani commented on #181
I can't see suck feature in current code. I think this is a basic feature and a useful one too. For example in Quicksort, selecting pivot in different color could make understanding the algorithm easier.

[2019-12-12 09:26] Alireza-Farahani commented on #181
I can't see this feature in current code. I think this is a basic feature and a useful one too. For example in Quicksort, selecting pivot in different color could make things easier.

[2019-12-16 03:53] lifetin opened #281 "有没有增加个汉化的呀"
有没有增加个汉化中文版的呀的呀

Have you added a Chinese version

[2019-12-19 17:10] parkjs814 commented on #281
Hi @lifetin, I regret to tell you that I am not planning to support other languages than English as of now. I will focus more on improving the quality of the current visualizations/descriptions first if I find the time. Eventually (and hopefully) I will support though.

[2019-12-19 17:12] parkjs814 commented on #277
?

[2019-12-19 17:12] #277 closed

[2019-12-19 17:21] parkjs814 commented on #278
It is not possible to embed just visualization as of now, but I think this is a brilliant idea! I'll implement it when I find the time.

Would it work if we provide a URL like `https://algorithm-visualizer.org/embed/divide-and-conquer/bucket-sort?speed=5&repeat=infinity` and embed it with iframe?

[2019-12-19 17:33] parkjs814 commented on #181
If I remember correctly, I removed this feature while rewriting the entire code base in React because inconsistent custom colors across different visualizations might rather confuse users. However, since I agree that only having two colors restricts a potentially better visualization, I will reopen the issue until we find a solution for the inconsistency issue.

[2019-12-19 17:34] parkjs814 commented on #181
Maybe we can have a color legend?

[2019-12-23 09:09] kburman commented on #278
I have a few questions

1. Can we have something like this `https://algorithm-visualizer.org/embed/divide-and-conquer/bucket-sort.gif`
2. Will the user be able to play, pause, and step controls.
3. Can we add two more query params `start_loop` and `end_loop` so that I can only highlight certain steps on repeat?

[2019-12-24 16:42] parkjs814 commented on #278
I'll need to think about the technical side of GIF support as it might end up taking quite a bit of server traffic, considering its width/height and number of frames. I'll definitely add `controls`, `start_loop`, and `end_loop` query params to the interactive embedding.

[2020-02-06 12:29] Rlyslata opened #282 "code with any useful remarks will be more fun"

[2020-02-06 12:33] Rlyslata commented on #282
as a freshman ，i want learn react , redux  how finish a complete web proj

[2020-02-29 10:58] goldayan opened #283 "https://algorithm-visualizer.org link is not working"

[2020-02-29 17:14] parkjs814 commented on #283
Fixed. Thank you for reporting!

[2020-02-29 17:14] #283 closed

[2020-03-10 13:34] Pyrokine opened #284 "Maybe there is something wrong with the algorithm "integer-partition""
It says 6 can be partitioned by 3 + 3 + 1.

[2020-03-20 23:42] aceamuro10 opened #286 "C++ code doesnt work"
unable to find tracer-cpp:lastest

[2020-03-31 10:44] haneesh-des opened #287 "binary search"
i am not able to implement greedy binary search on different problems i don't know why any help.

[2020-03-31 16:50] barbu110 commented on #256
Hi! i am getting the same issue with a brand new C++ source file. Everything inside the file seems to be right.

[2020-04-28 08:52] tiny1990 opened #288 "how do I embed algorithm-visualizer into my frontend?"
I want to embed algorithm-visualizer into my web site , but i don't know how  to do it.

[2020-04-28 09:16] tiny1990 commented on #278
i think make a algorithm-visualizer lib, we just include and call api.
it's a great project.

[2020-05-04 18:31] LzyRapx commented on #288
I have the same question too. would someone check this issue？

[2020-05-06 03:15] tiny1990 commented on #278
@LzyRapx

[2020-05-06 23:07] phuang07 commented on #244
@MarkKoz @parkjs814 , May I ask do we have a tracer for python yet? wondering where can I find more info on this. Thanks.

[2020-05-07 02:57] MarkKoz commented on #244
It exists here https://github.com/algorithm-visualizer/tracers.py but is not really functional yet. Progress has stalled. I had a PR open which hasn't been merged yet and I moved onto other things. Sorry for that, I should have been more pushy to get it merged. At this point, I imagine some things are out of date compared to the other tracers. I will try to revisit the project next month. Of cours

[2020-05-07 04:41] parkjs814 commented on #244
My huge apologies to @MarkKoz that I still haven't had much spare time to work on integrating your work into the project. What should be done is to create a `extractor.py` repository, which would be an AWS Lambda function to compile/run user-submitted code with `tracers.py` library.

I would appreciate if someone experienced in Python and AWS Lambda can contribute to it. If anyone interested, I ca

[2020-05-07 12:03] phuang07 commented on #244
@parkjs814 @MarkKoz I would have time after next week. Would you pass along more details and I will take a look at it. Thanks for putting everything together.

[2020-05-08 05:30] 64json commented on #288
Duplicate of #278

[2020-05-08 05:30] #288 closed

[2020-05-08 05:37] 64json commented on #286
Sorry for the late response. I had to temporarily cease supporting C++ as Docker caused the server to be down multiple times. It won't be fixed anytime soon.

[2020-05-08 05:39] #282 closed

[2020-05-08 05:39] #287 closed

[2020-05-08 05:40] #271 closed

[2020-05-08 06:37] 64json commented on #244
@phuang07 Thanks for your interest! Let me explain how Algorithm Visualizer supports Java first, since supporting Python would almost exactly resemble it.

1. `git push` to [`tracers.java`](https://github.com/algorithm-visualizer/tracers.java) triggers Travis CI to:
    1. publish a new version of the visualization library to the JitPack repository.

2. After the publication, it triggers another T

[2020-05-11 22:13] chrisVillanueva opened #289 "Question: Monolithic Repo?"
This is a great project.  Have you considered grouping the project's multiple repositories under a single repository with yarn workspaces?

[2020-05-13 03:44] 64json commented on #289
Hi @chrisVillanueva, even though I am a huge fan of monolithic repo (with Yarn Workspaces and Lerna), I am thinking of just keeping them separate due to CI/CD and GitHub Issues.

[2020-05-13 03:44] #289 closed

[2020-05-20 11:58] h75xyz commented on #281
u -> loser
汉化毛。。。。需要帮你打开https://translate.google.cn 不

[2020-05-20 12:02] h75xyz opened #290 "Thanks for you"
Thanks for your git.  Million miles begins with one step, and you must be the last successful one. Learn from you . Thanks again.

[2020-05-21 22:06] phuang07 commented on #244
Great. Will look into this.

[2020-05-26 06:36] Junwenli commented on #281
OK

[2020-08-07 04:51] MakerGYT commented on #281
## 小程序版本

![](http://mmbiz.qpic.cn/mmbiz_gif/Wotbu1JohuCF0iczfUlicAHlFPJFLo8SmrWvbR7eB3mgeMWsweXIsR06wvA4SqribdTwRS7CjLIraLojHUwAxVC3A/0?wx_fmt=gif)
![image](https://user-images.githubusercontent.com/16568561/89610080-3dbd1d80-d8ac-11ea-8f44-205e86a3dc89.png)

[2020-08-16 05:46] DeepakAtariya opened #293 "Algorithm visualizer does not work with user defined algorithm"
Algorithm visualizer does not work with user-defined algorithm.
I tried to build an array sum code but I did not see the visualisation of the given array and the trace of summation.

[2020-08-16 22:44] 64json commented on #293
Hey, I would need to know what your code and the error message are.

[2020-08-16 22:45] 64json commented on #290
Thank you :)

[2020-08-16 22:45] #290 closed

[2020-08-17 02:10] DeepakAtariya commented on #293
It doesn't show anything. Try writing a sum of an array program and see whether it showing any blocks or not.

[2020-08-17 20:47] 64json commented on #293
I can't do much without looking at your code. Reopen it once you have your code posted.

[2020-08-17 20:47] #293 closed

[2020-08-24 06:22] dreverlyu opened #294 "how to work offline"
Hi guys，how does the project work offline? thanks for your anwser.

[2020-08-25 05:51] 64json commented on #294
Hi @dreverlyu, sorry to let you know that it doesn't work offline at this moment.

[2020-08-25 05:51] #294 closed

[2020-08-25 05:54] dreverlyu commented on #294
Oh, It's a pity. thank you~

[2020-10-08 02:43] haxwell commented on #228
Hey.. random dude here.. looking for projects to work on.. where does this issue stand?

[2020-11-19 14:58] Tracker647 opened #297 "Is application no support custom variables?"
I want to test what Kruskal code acutual like in javascript so I change the algorithm code to change the default variables,but the animation and code become don't working.Why?

![nowork](https://user-images.githubusercontent.com/54085641/99682838-a4142780-2aba-11eb-9fc4-d65a5dc26169.png)

[2020-12-03 13:53] wanghuohuo0716 commented on #286
hope to see c++ again！

[2020-12-14 04:19] Jeff-Tian commented on #281
@lifetin isn't the google translation enough?

![image](https://user-images.githubusercontent.com/3367820/102040058-91191c80-3e06-11eb-9bea-9dbeaec8812f.png)

[2021-03-09 12:42] struggle-fish opened #301 "官网不能访问了"
https://algorithm-visualizer.org
打不开了？？

[2021-03-10 22:32] 64json commented on #301
it should be fixed now. thank you for letting me know!

[2021-03-10 22:32] #301 closed

[2021-04-09 11:27] eamonwoortman opened #303 "Github authentication is broken"
Hi!

First of, awesome product, I love how this allows us to visualize algorithms and data structures, so thank you!

I tried to login and create a gist of my own but the authentication (after successfully linking GitHub) lands on an empty white page.
The console logs the following error;
[code]
The code it self tries to access the `window.opener` field but that is null.

After some googling, it s

[2021-05-21 10:22] duijiudanggecl opened #308 "Where is the example？"

[2021-09-23 13:17] NeroBlackstone opened #312 "Please update dependencies"
The node-sass version is 4.12 and it's not compatible to latest node and npm.
Please update dependencies and adapt to latest node.
For now, in node 16.9.1 and npm 7.24. It will throw these error:

[code]

[2021-09-23 17:03] krsch commented on #244
I am also interested in adding python to algorithm-visualizer. Is it possible to simplify the development by using some tool like [Brython](https://brython.info) or [transcrypt](https://www.transcrypt.org) that can run python directly in the browser, no aws needed? The only problem I expect here is the code editor support for source maps.

[2021-10-20 22:32] jadsongmatos opened #313 "create gif"
it would be nice to have function to create gif of the algorithm to be used in the sharing for example

[2021-10-20 22:42] jadsongmatos opened #314 "quadtree"
would it be possible to implement quadtree?

[2021-11-25 02:55] fish-404 commented on #297
After you change the default variables, you should rebuild it.

[2021-11-25 03:18] fish-404 opened #315 "Is possible run a custom algorithm-visualizer/algorithms ?"
I want to use algorithm-visualizer to practice and record my algorighms problems, a detail problem not a common algorithms.
Is possible run visualizer and tracer api but use a different algorithms directory ?

[2021-11-30 17:40] 64json commented on #315
you can [run algorithm-visualizer locally](https://github.com/algorithm-visualizer/server/blob/master/CONTRIBUTING.md#running-locally), comment out [this line](https://github.com/algorithm-visualizer/server/blob/0d6dec45c3b3a62f826667b4288f3fbc094ebaf1/src/models/Hierarchy.ts#L32), and place your algorithm directory in `server/public/algorithms`.

I recommend you to test with dummy files in `serve

[2022-03-23 02:56] duya123 opened #326 "The SSL Certficate for algorithm Visualizer website is out of date"
Your SSL certificate had been out of date on Mar.20, maybe you should update it. :)

[2022-03-23 02:58] bookerdong commented on #326
你的邮件已收到

[2022-03-23 02:59] lxzzz commented on #326
[自动回复]您的邮件已收到，会尽快给您答复。

[2022-04-02 03:34] 64json commented on #326
Thanks for letting me know. It is now fixed.

[2022-04-02 03:34] #326 closed

[2022-04-02 21:30] 64json commented on #303
Hi @eamonwoortman, sorry for taking almost a year -- didn't have much capacity to maintain it. It should now be fixed, thanks!

[2022-04-02 21:30] #303 closed

[2022-04-04 06:05] Wizard-F opened #327 "Which node version?"
What's the node version for Algorithm Visualizer projects? I'm using node v16 and have bugs with `npm install`. I can't find the node version anywhere.

BTW, do you have documents that describe project architecture or *internal* API's (like visualization commands used by the `applyCommand` function in [this file](https://github.com/algorithm-visualizer/algorithm-visualizer/blob/master/src/componen

[2022-04-04 06:48] Wizard-F opened #328 "What will happen when the user changes the position of the cursor?"
According to the code snippet below, when the user changes the position of the cursor:

- if the cursor is moved forward (line 37), the visualizer will only apply the chunks between `oldCursor` and `cursor`
- if the cursor is moved to a former position (line 39), the visualizer will simply reset and then re-apply all the chunks from the start to `cursor`

https://github.com/algorithm-visualizer/al

[2022-04-08 03:30] Wizard-F commented on #327
Node v10 doesn't work either.

Please help 😢 @64json @jeffslofish @MarkKoz @nadr0

[2022-04-08 04:15] 64json commented on #327
The server is running on `v10.15.3`.

[2022-04-08 04:15] #327 closed

[2022-04-08 04:24] 64json commented on #328
Yes, it is correct :)

[2022-04-08 04:24] #328 closed

[2022-04-12 08:31] Wizard-F opened #331 "Visualization of directed edges don't have arrows"
As shown below, when I set `directed` to `true`, the visualized graph still doesn't have arrows.

<img width="1262" alt="image" src="https://user-images.githubusercontent.com/95689995/162916429-86256d94-9112-45a8-9d22-9f16f552eb9d.png">

If this is a bug, I'd like to fix it and make a pull request.

[2022-04-12 08:49] Wizard-F commented on #331
Didn't realize that I also need to modify `const tracer = new GraphTracer().directed(false).weighted();`

[2022-04-12 09:47] Wizard-F opened #332 "Why not combine tracer initialization and tracer.set()?"
In the screenshot below, it seems plausible to combine line 19 (tracer initialization) and line 24 (tracer.set()) into one concise line, e.g., `const tracer = new GraphTracer(G).directed(true).weighted();`.

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/95689995/162929282-01648999-2592-4a83-baa0-af9d1bd6ef3d.png">

Is there any side effect with this approach?

[2022-04-13 02:06] 64json commented on #332
The first argument of the `GraphTracer` constructor is the title. https://algorithm-visualizer.github.io/tracers.js/classes/graphtracer.html#constructor

[2022-04-13 02:06] #332 closed

[2022-04-13 02:14] Wizard-F commented on #332
I mean, when you design the API, what makes you decide to use two lines (tracer initialization and tracer.set()), as in

[code]

instead of one line like

[code]

?

[2022-04-13 02:19] 64json commented on #332
Don't remember much because it was 6 years ago, but I guess I wanted to separate tracer initialization from data management.

[2022-04-13 02:41] Wizard-F commented on #332
Separation of tracer initialization and data management allows, say, an array tracer to change the array it traces, which may be useful in certain cases. But in my opinion, it would be nice to provide a shortcut like

[code]

at the same time :-)

[2022-04-13 15:33] jomefavourite commented on #312
I'm also getting this same error message whenever I try installing the dependencies

[2022-04-13 19:32] jomefavourite commented on #312
I finally got it working, I deleted the package-lock.json file and the node-modules folder. Then uninstalled `node-sass` cause that's the root of the problem.

[code]

Then I installed sass

[code]

Then I ran `npm i`

Still got some errors, but this time the command line showed a fix, the fix (well a temporary fix), is to create an `.env` file then adding this:

[code]

Now, running the command `

[2022-04-14 03:25] NeroBlackstone commented on #312
Thanks for your help sincerely, I'll close this issue.

[2022-04-14 03:25] #312 closed

[2022-04-14 07:14] jomefavourite commented on #312
You're welcome

[2022-05-25 11:17] Kodp commented on #286
It's been two years, and it hasn't been repaired

[2022-05-25 11:18] lxzzz commented on #286
[自动回复]您的邮件已收到，会尽快给您答复。

[2022-05-25 11:18] bookerdong commented on #286
你的邮件已收到

[2022-05-25 16:47] ghost opened #335 "Hello, dear author, can you support C++?"
<img width="1369" alt="2022-05-26_00-45-12" src="https://user-images.githubusercontent.com/99306104/170316987-153d757a-2dfb-4661-a458-37b5c3699632.png">
Excuse me, is this error not fixed by docker?

[2022-06-02 14:08] luluyayaa opened #337 "My idea remind me that : 无法打开包括文件:“stdbool.h”: No such file or directory so l can run the project。how can l fix that?"

[2022-06-20 17:33] villares commented on #244
Now you could try http://pyscript.net ...

[2022-06-20 17:34] lxzzz commented on #244
[自动回复]您的邮件已收到，会尽快给您答复。

[2022-06-20 17:34] bookerdong commented on #244
你的邮件已收到

[2022-10-03 03:31] OrionAlnitak opened #340 "I'm a new coder, i have no idae to use it"
have any one teach a way?  ( python )

[2022-10-03 03:32] lxzzz commented on #340
[自动回复]您的邮件已收到，会尽快给您答复。

[2022-10-03 03:32] bookerdong commented on #340
你的邮件已收到

[2022-10-22 16:18] Awadesh365 opened #341 "Need Support for C/C++ as well"
There is no support or Explanation in C/C++, it would be great if you add this functionality, There are a lot of programmers, who use C/C++, to learn various Algorithms and Data structures.

Thanks.

[2022-11-08 02:38] hvega6 commented on #340
yeah

[2022-11-08 02:39] hvega6 opened #343 "please make a c++"

[2022-11-08 03:17] phonefixnicole opened #344 "quite wide"

[2022-11-09 07:01] hvega6 commented on #337
what?

[2022-11-09 07:06] hvega6 commented on #335
#343